In [1]:

#Using selenium
from selenium import webdriver
from bs4 import BeautifulSoup as bs
import time
import pandas as pd

import requests



#Using splinter
# from splinter import Browser
# from bs4 import BeautifulSoup as bs

# import requests

In [2]:

driver=webdriver.Firefox(executable_path='C:\webdrivers2\geckodriver.exe')
driver

# #  executable_path = {'executable_path': 'chromedriver.exe'}
# browser = Browser('chrome', **executable_path, headless=False)

## Step 1 - Scraping

In [3]:

url="https://mars.nasa.gov/news/"
driver.get(url)

### NASA Mars News

In [4]:
info=driver.find_element_by_class_name("slide")
soup=bs(info.get_attribute("innerHTML"))
soup

<html><body><div class="image_and_description_container"><a href="/news/8749/nasa-readies-perseverance-mars-rovers-earthly-twin/" target="_self"><div class="rollover_description"><div class="rollover_description_inner">Did you know NASA's next Mars rover has a nearly identical sibling on Earth for testing? Even better, it's about to roll for the first time through a replica Martian landscape.</div><div class="overlay_arrow"><img alt="More" src="/assets/overlay-arrow.png"/></div></div><div class="list_image"><img alt="Engineers test drive Perseverance Mars rover's twin." src="/system/news_items/list_view_images/8749_PIA23964-320.jpg"/></div><div class="bottom_gradient"><div><h3>NASA Readies Perseverance Mars Rover's Earthly Twin </h3></div></div></a><div class="list_text"><div class="list_date">September  4, 2020</div><div class="content_title"><a href="/news/8749/nasa-readies-perseverance-mars-rovers-earthly-twin/" target="_self">NASA Readies Perseverance Mars Rover's Earthly Twin </a></div><div class="article_teaser_body">Did you know NASA's next Mars rover has a nearly identical sibling on Earth for testing? Even better, it's about to roll for the first time through a replica Martian landscape.</div></div></div></body></html>

In [5]:

News_Title=soup.find('div',class_="content_title").text
News=soup.find('div',class_="article_teaser_body").text
print(f'''News Title:{News_Title}
News:{News}''')

News Title:NASA Readies Perseverance Mars Rover's Earthly Twin
News:Did you know NASA's next Mars rover has a nearly identical sibling on Earth for testing? Even better, it's about to roll for the first time through a replica Martian landscape.

### JPL Mars Space Images - Featured Image

In [6]:
#driver access the url and .click function is used to click the buttonon the main page to go the page that has the full image.
driver.get("https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars")
url=driver.find_element_by_class_name("carousel_item").get_attribute("style")
featured_image_url=url.replace('background-image: url("/','https://www.jpl.nasa.gov/').replace('");','')

In [8]:
featured_image_url

'https://www.jpl.nasa.gov/spaceimages/images/wallpaper/PIA22911-1920x1200.jpg'

### Mars Facts

In [9]:
#to get a list of tables within the url
df=pd.read_html("https://space-facts.com/mars/")
df

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers,
   Mars - Earth Comparison             Mars            Earth
 0               Diameter:         6,779 km        12,742 km
 1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 2                  Moons:                2                1
 3      Distance from Sun:   227,943,824 km   149,598,262 km
 4         Length of Year:   687 Earth days      365.24 days
 5            Temperature:     -87 to -5 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [10]:
#table within the list which has the Mars and Earth comparison data 
Mars=df[0]
#check the type os the Mars object
type(Mars)

pandas.core.frame.DataFrame

In [11]:
#dataframe 
Mars

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [13]:
#rename the column 1 to 'Mars' and 0 to 'Description'
# Rename columns.
Mars.columns = ['Description', 'Data']

In [14]:
# then converted to html table string variable 'html'and cleaned to final_html to be used later.
final_html=Mars.replace('\n','')
html=final_html.to_html(index=False).replace('\n','')

In [16]:
Mars.to_html('table.html',index=False)


### Mars Hemispheres

In [18]:
image={}
Image_list=[]
for i in range(1,5,1):
        driver.get("https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars")
        url1=driver.find_element_by_xpath(f'/html/body/div[1]/div[1]/div[2]/section/div/div[2]/div[{i}]/div/a/h3').click()
        open=driver.find_element_by_id("wide-image-toggle").click()
        image_url= driver.find_element_by_class_name('wide-image').get_attribute('src')
        image_title=driver.find_element_by_tag_name('h2').text
        image={'img_url':image_url,'title':image_title}
        Image_list.append(image)
Image_list

[{'img_url': 'https://astrogeology.usgs.gov/cache/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg',
  'title': 'Cerberus Hemisphere Enhanced'},
 {'img_url': 'https://astrogeology.usgs.gov/cache/images/3778f7b43bbbc89d6e3cfabb3613ba93_schiaparelli_enhanced.tif_full.jpg',
  'title': 'Schiaparelli Hemisphere Enhanced'},
 {'img_url': 'https://astrogeology.usgs.gov/cache/images/555e6403a6ddd7ba16ddb0e471cadcf7_syrtis_major_enhanced.tif_full.jpg',
  'title': 'Syrtis Major Hemisphere Enhanced'},
 {'img_url': 'https://astrogeology.usgs.gov/cache/images/b3c7c6c9138f57b4756be9b9c43e3a48_valles_marineris_enhanced.tif_full.jpg',
  'title': 'Valles Marineris Hemisphere Enhanced'}]

In [21]:
#a dictionary with all the scraped results
scrape_mars={}
scrape_mars["News_title"]=News_Title
scrape_mars["News"]=News
scrape_mars["Featured_image_url"]=featured_image_url
    
scrape_mars["html_table"]=final_html
scrape_mars["Hemisphere_image_urls"]=Image_list

In [22]:
scrape_mars

{'News_title': "NASA Readies Perseverance Mars Rover's Earthly Twin ",
 'News': "Did you know NASA's next Mars rover has a nearly identical sibling on Earth for testing? Even better, it's about to roll for the first time through a replica Martian landscape.",
 'Featured_image_url': 'https://www.jpl.nasa.gov/spaceimages/images/wallpaper/PIA22911-1920x1200.jpg',
 'html_table':             Description                           Data
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers,
 'Hemisphere_image_urls': [{'img_url': 'https://astrogeology.usgs.gov/cache/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg',
   'title': 'Cerberus Hemisphere Enhanced'},
  {'img_url': 'https://astrogeology.usgs.gov/cache/images/3778f7b43bbbc89d6e3cfabb3613ba93_schiaparelli_enhanced.tif_full.jpg',
   'title': 'Schiaparelli Hemisphere Enhanced'},
  {'img_url': 'https://astrogeology.usgs.gov/cache/images/555e6403a6ddd7ba16ddb0e471cadcf7_syrtis_major_enhanced.tif_full.jpg',
   'title': 'Syrtis Major Hemisphere Enhanced'},
  {'img_url': 'https://astrogeology.usgs.gov/cache/images/b3c7c6c9138f57b4756be9b9c43e3a48_valles_marineris_enhanced.tif_full.jpg',
   'title': 'Valles Marineris Hemisphere Enhanced'}]}