In [84]:

#Using selenium
from selenium import webdriver
from bs4 import BeautifulSoup as bs
import time
import pandas as pd


#Using splinter
# from splinter import Browser
# from bs4 import BeautifulSoup as bs

# import requests

In [44]:

driver=webdriver.Firefox(executable_path='C:\webdrivers2\geckodriver.exe')
driver

# #  executable_path = {'executable_path': 'chromedriver.exe'}
# browser = Browser('chrome', **executable_path, headless=False)

In [8]:
url="https://mars.nasa.gov/news/"
driver.get(url)

In [12]:
info=driver.find_element_by_class_name("slide")
soup=bs(info.get_attribute("innerHTML"))
soup

<html><body><div class="image_and_description_container"><a href="/news/8749/nasa-readies-perseverance-mars-rovers-earthly-twin/" target="_self"><div class="rollover_description"><div class="rollover_description_inner">Did you know NASA's next Mars rover has a nearly identical sibling on Earth for testing? Even better, it's about to roll for the first time through a replica Martian landscape.</div><div class="overlay_arrow"><img alt="More" src="/assets/overlay-arrow.png"/></div></div><div class="list_image"><img alt="Engineers test drive Perseverance Mars rover's twin." src="/system/news_items/list_view_images/8749_PIA23964-320.jpg"/></div><div class="bottom_gradient"><div><h3>NASA Readies Perseverance Mars Rover's Earthly Twin </h3></div></div></a><div class="list_text"><div class="list_date">September  4, 2020</div><div class="content_title"><a href="/news/8749/nasa-readies-perseverance-mars-rovers-earthly-twin/" target="_self">NASA Readies Perseverance Mars Rover's Earthly Twin </a></div><div class="article_teaser_body">Did you know NASA's next Mars rover has a nearly identical sibling on Earth for testing? Even better, it's about to roll for the first time through a replica Martian landscape.</div></div></div></body></html>

In [26]:

News_Title=soup.find('div',class_="content_title").text
News=soup.find('div',class_="article_teaser_body").text
print(f'''News Title:{News_Title}
News:{News}''')

News Title:NASA Readies Perseverance Mars Rover's Earthly Twin
News:Did you know NASA's next Mars rover has a nearly identical sibling on Earth for testing? Even better, it's about to roll for the first time through a replica Martian landscape.

In [35]:
driver.close

In [52]:
driver.get("https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars")

In [61]:
image_info=driver.find_element_by_class_name("carousel_container")
soup=bs(image_info.get_attribute("innerHTML"))
soup

<html><body><div class="carousel_items">
<article alt="Bright Penelope" class="carousel_item" style="background-image: url('/spaceimages/images/wallpaper/PIA11591-1920x1200.jpg');">
<div class="default floating_text_area ms-layer">
<h2 class="category_title">
</h2>
<h2 class="brand_title">
				  FEATURED IMAGE
				</h2>
<h1 class="media_feature_title">
				  Bright Penelope				</h1>
<div class="description">
</div>
<footer>
<a class="button fancybox" data-description="NASA's Cassini spacecraft looks down on the north of Tethys and sees brightly illuminated Penelope Crater on the trailing hemisphere of the moon in this image taken on July 27, 2009." data-fancybox-group="images" data-fancybox-href="/spaceimages/images/mediumsize/PIA11591_ip.jpg" data-link="/spaceimages/details.php?id=PIA11591" data-title="Bright Penelope" id="full_image">
					FULL IMAGE
				  </a>
</footer>
</div>
<div class="gradient_container_top"></div>
<div class="gradient_container_bottom"></div>
</article>
</div>
</body></html>

In [70]:
featured_image_url_tag=soup.find('article').attrs
# featured_image_url=featured_image_url_tag.get('style')

In [71]:
featured_image_url_tag

{'alt': 'Bright Penelope',
 'class': ['carousel_item'],
 'style': "background-image: url('/spaceimages/images/wallpaper/PIA11591-1920x1200.jpg');"}

In [81]:
featured_image_url=featured_image_url_tag['style']
new=featured_image_url.replace('background-image: url();',"")
print(f"Featured_image_url:{new}")

Featured_image_url:background-image: url('/spaceimages/images/wallpaper/PIA11591-1920x1200.jpg');

In [99]:
#to get a list of tables within the url
df=pd.read_html("https://space-facts.com/mars/")
#table within the list which has the Mars and Earth comparison data 
Mars=df[1]
#check the type os the Mars object
type(Mars)

pandas.core.frame.DataFrame

In [100]:
#dataframe 
Mars

  Mars - Earth Comparison             Mars            Earth
0               Diameter:         6,779 km        12,742 km
1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
2                  Moons:                2                1
3      Distance from Sun:   227,943,824 km   149,598,262 km
4         Length of Year:   687 Earth days      365.24 days
5            Temperature:     -87 to -5 °C      -88 to 58°C

In [121]:
#select the Mars deatils from the dataframe
Mars_df=Mars.iloc[:,[0,1]]
Mars_df

  Mars - Earth Comparison             Mars
0               Diameter:         6,779 km
1                   Mass:  6.39 × 10^23 kg
2                  Moons:                2
3      Distance from Sun:   227,943,824 km
4         Length of Year:   687 Earth days
5            Temperature:     -87 to -5 °C

In [124]:
#rename the column name
Mars_df.rename({"Mars - Earth Comparison":"Measurements"},axis=1,inplace=True)

C:\Users\neejo\anaconda3\lib\site-packages\pandas\core\frame.py:4133: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [125]:
#dataframe with the renamed column
Mars_df

         Measurements             Mars
0           Diameter:         6,779 km
1               Mass:  6.39 × 10^23 kg
2              Moons:                2
3  Distance from Sun:   227,943,824 km
4     Length of Year:   687 Earth days
5        Temperature:     -87 to -5 °C

In [130]:
#convert to html string
html=Mars_df.to_html()
html

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Measurements</th>\n      <th>Mars</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Diameter:</td>\n      <td>6,779 km</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>Mass:</td>\n      <td>6.39 × 10^23 kg</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Moons:</td>\n      <td>2</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Distance from Sun:</td>\n      <td>227,943,824 km</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Length of Year:</td>\n      <td>687 Earth days</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Temperature:</td>\n      <td>-87 to -5 °C</td>\n    </tr>\n  </tbody>\n</table>'

In [129]:
soup=bs(html)
soup

<html><body><table border="1" class="dataframe">
<thead>
<tr style="text-align: right;">
<th></th>
<th>Measurements</th>
<th>Mars</th>
</tr>
</thead>
<tbody>
<tr>
<th>0</th>
<td>Diameter:</td>
<td>6,779 km</td>
</tr>
<tr>
<th>1</th>
<td>Mass:</td>
<td>6.39 × 10^23 kg</td>
</tr>
<tr>
<th>2</th>
<td>Moons:</td>
<td>2</td>
</tr>
<tr>
<th>3</th>
<td>Distance from Sun:</td>
<td>227,943,824 km</td>
</tr>
<tr>
<th>4</th>
<td>Length of Year:</td>
<td>687 Earth days</td>
</tr>
<tr>
<th>5</th>
<td>Temperature:</td>
<td>-87 to -5 °C</td>
</tr>
</tbody>
</table></body></html>

#### Mars Hemispheres

In [172]:
driver.get("https://astrogeology.usgs.gov/search/map/Mars/Viking/cerberus_enhanced")

In [175]:
#image={}
image=[]
def fun(url):
    driver.get(url)
    hem_info=driver.find_element_by_tag_name("li")
    soup=bs(hem_info.get_attribute("innerHTML"))
    img_url1=soup.find('a')['href']
    img_url1
    hem_title=driver.find_element_by_class_name("content")
    soup=bs(hem_title.get_attribute("innerHTML"))
    img_title1=soup.find('h2').text
#     image.setdefault('img_url', []).append(img_url1)
#     image.setdefault('img_title', []).append(img_title1)

    image.append({'img_url':img_url1})
    image.append({'title':img_title1})
    return image

fun("https://astrogeology.usgs.gov/search/map/Mars/Viking/cerberus_enhanced")
fun("https://astrogeology.usgs.gov/search/map/Mars/Viking/schiaparelli_enhanced")
fun("https://astrogeology.usgs.gov/search/map/Mars/Viking/syrtis_major_enhanced")
fun("https://astrogeology.usgs.gov/search/map/Mars/Viking/valles_marineris_enhanced")

[{'img_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg'},
 {'title': 'Cerberus Hemisphere Enhanced'},
 {'img_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg'},
 {'title': 'Schiaparelli Hemisphere Enhanced'},
 {'img_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg'},
 {'title': 'Syrtis Major Hemisphere Enhanced'},
 {'img_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg'},
 {'title': 'Valles Marineris Hemisphere Enhanced'}]

#### Step 2 - MongoDB and Flask Application